body {
    font-family: helvetica, arial, sans-serif;
  }
  
  h1 {
    color: #3a241d;
    text-align: center;
  }
  #contenedor-izquierdo {
	background-color: #eee;
	width: 15%;
	height: 100%;
	left: 0px;
	top: 0px;
	position: absolute;
	padding: 10px;
}

#contenedor-derecho {
	background-color: #eee;
	width: 15%;
	height: 100%;
	right: 0px;
	top: 0px;
	position: absolute;
	padding: 10px;
}

.contenedor-componente {
	position: relative;
	height: 10.5%;
	left: 20%;
}

.componente {
	position: absolute;
	max-width: 150%;
	max-height: 150%;
	z-index: 2;
}
.placita{
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    text-align: center; 
}


#cielo{
    order:1;
    flex-grow:1;
    background: #1785b6;
    height: 80%;
	width: 60%;
	border-radius: 1rem;
	position: absolute;
	bottom: 0.5%;
	left: 20%;
	opacity: 0.4;
	z-index: 1;
}

#suelo{
   order:2;
   flex-grow: 3;
   background: #C9E4C5;
   width: 60%;
	height: 45%;
	position: absolute;
	border-radius: 0 0 1rem 1rem;
	bottom: 1%;
	left: 20%;
	opacity: 1;
	z-index: -1;
}